.header-img{
    background-image:url("./img/windows-6UBGkIbcfQI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.242);
    background-blend-mode: color;
    border-bottom-left-radius: 90px;
    

    
}
.header-text {
    color: aliceblue;
}

.header-untext{
    color: gray;
    background-color: bisque;
}

.link {
    color: blue;
}

.sct-header-text{
    transition: 0.5s;

}
.sct-header-text:hover{
    letter-spacing: 0.25rem;
    font-size: 50px;
    
}
.sct-bg{
    background-image: url("/img/bg.jpg");
    background-position: center;
    background-size: cover;
}

.text-do{
    background-color: bisque;
}

li {
    list-style: none;
    margin: 5px;
    font-size: 10px;
}
li:hover{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
